@import '../../styles/reset';
@import '../../styles/vars';
@import '../../styles/mixins';

// Globals
html {
  background: $off-white;
  font-family: $body;
  // overflow: hidden;
}

html, body {
  min-height: 100vh;
  // overflow-y: hidden;
}

body {
  // overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title;
  color: $green;
}

h1 {
  font-size: 5em;
  @include mobile {
    font-size: 7rem;
  }
 }

h3 {
  font-size: 2em;
  @include mobile {
    font-size: 3rem;
  }
}
h4 {
  font-size: 1.6em;
  @include mobile {
    font-size: 2.5rem;
  }
}

p, a, li, h6 {
  color: $grey;
}

p {
  widows: 3;
  orphans: 3;
}

.gatsby-resp-image-background-image {
  // opacity: 0;
  background-image: none !important;
}

.About {
  position: relative;
  max-width: 800px;
  

  // &:before, &:after {
  //   content: '';
  //   background: $pink;
  //   width: 60px;
  //   height: 10px;
  //   position: absolute;
  // }
  // &:before {
  //   right: -7%;
  //   top: -48%;
  // }
  // &:after {
  //   left: -10%;
  //   bottom: -62%;
  // }
}
