@import '../../styles/vars';
@import '../../styles/mixins';

.Menu {
  z-index: 2;

  .menuTrigger {
    margin: $base-spacing * 3;
    margin-top: $base-spacing * 3;
    // margin-right: $base-spacing * 14;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
    color: red;
    transition: all 0.4s;
    animation-delay: 0.3s;
    width: 40px;
    height: 30px;
    cursor: pointer;
    @include tablet {
      margin-top: $base-spacing * 5;
      padding-right: $base-spacing * 12;
    }

    & > span {
      width: 100%;
      height: 5px;
      background: $pink;
      display: block;
      position: absolute;
      right: 0;
      transform: rotate(0deg);
      transition: all 0.3s ease-in-out;
    }
    & > span:nth-child(1) {
      top: 0px;
    }
    & > span:nth-child(2) {
      top: 12px;
      width: 60%;
    }
    & > span:nth-child(3) {
      top: 24px;
      width: 85%;
    }
    &.show {
      color: green;

      & > span:nth-child(1) {
        transform: rotate(135deg);
        background: $green;
        top: 12px;
      }
      & > span:nth-child(2) {
        opacity: 0;
        transform: translateX(100px);
        width: 100%;
      }
      & > span:nth-child(3) {
        transform: rotate(-135deg);
        background: $green;
        top: 12px;
        width: 100%;
      }
    }
  }

  .menuOpened {
    background: $pink;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin: right;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards;
    opacity: 1;
    @include tablet {
      opacity: 0;
    }
  }

  .menuList {
    li {
      opacity: 0;
      animation: fade-in-right ease 0.5s forwards;
      // &:after {
      //   content: '';
      //   width: 60px;
      //   height: 10px;
      //   background: $green;
      //   position: absolute;
      //   bottom: 0;
      // }
      &:nth-child(1) {
        animation-delay: 0.3s;
      }
      &:nth-child(2) {
        animation-delay: 0.4s;
      }
      &:nth-child(3) {
        animation-delay: 0.5s;
      }
    }
    li a {
      font-family: $title;
      font-size: 4rem;
      color: $off-white;
      text-decoration: none;
      // transition: all 0.3s ease-in-out;

      &:after {
        content: '';
        width: 60px;
        height: 10px;
        background: $green;
        position: absolute;
        bottom: 0;
        position: absolute;
        transform: translate(-40px, -14px);
        z-index: -1;
        transition: all 0.3s ease-out;

      }
      &:hover {
        // color: $pink;
        // background: $green;
        &:after {
          // right: 0;
          // width: 100%;
          // transform: translate(0, 0);
          transform: translate(-100%, -14px);
          height: 50%;
          width: 60%;
        }
      }
    }
  }

  .menuListDesktop {
    display: none;
    li {
      display: none;
    }
  }

  @include tablet {
    .menuTrigger {
      display: none;
    }
    .menuListDesktop {
      display: block;
      margin-top: $base-spacing * 5;
      padding-right: $base-spacing * 3;
      li {
        display: inline;
        margin-left: $base-spacing * 6;
        font-family: $title;
        font-size: 1.2rem;
        a {
          text-decoration: none;
          position: relative;
          z-index: 0;
          &:hover {
            color: $green;
          }
          // &:hover:after {
          //   content: '';
          //   position: absolute;
          //   bottom: 0;
          //   left: -5%;
          //   background: $green;
          //   width: 110%;
          //   height: $base-spacing / 2;
          //   z-index: -1;
          // }
          // &:hover:after {
          //   content: 'A';
          // }
        }
      }
    }
  }
  @include desktop {
    .menuListDesktop {
      margin-right: $base-spacing * 12;
      padding-right: 0;
    } 
  } 
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
