@import '../styles/vars';
@import '../styles/mixins';

.postListItem {
  // margin-top: $base-spacing * 8;
  // margin-bottom: $base-spacing * 15;
  margin-left: 1rem;
  margin-right: 1rem;
  .closeBtn {
    background: $off-white;
    width: 70px;
    height: 78px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    button {
      outline: none;
      margin: 1rem;
      margin-top: 1.5rem;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
      // color: red;
      transition: all 0.4s;
      animation-delay: 0.3s;
      width: 40px;
      height: 30px;
      cursor: pointer;
      & > span {
        width: 100%;
        height: 5px;
        background: $pink;
        display: block;
        position: absolute;
        right: 0;
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
      }
      & > span:nth-child(1) {
        transform: rotate(135deg);
        background: $green;
        top: 12px;
      }
      & > span:nth-child(2) {
        opacity: 0;
        transform: translateX(100px);
        width: 100%;
      }
      & > span:nth-child(3) {
        transform: rotate(-135deg);
        background: $green;
        top: 12px;
        width: 100%;
      }
    }
}
}

.hero-section {
  // border: 1px solid yellow;
  min-height: auto;
  // text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  // margin-bottom: 2rem;
  

  h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    // padding-left: 30px;
  }
  h6 {
    font-style: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    // padding-left: 30px;
  }
  // .gatsby-resp-image-link {
  //   margin-bottom: 1rem;
  //   border: 1px solid red
  // }
  // img {
  //   width: 50vw;
  //   margin: 0;
  // }

  // .hero-image {
  //   // display: none;
  //   // border: 1px solid green;
  //   max-width: 50vw;
  //   flex: 1;
  //   position: relative;
  //   background: #cdd3d7;
  //   .gatsby-resp-image-link, .gatsby-resp-image-wrapper, .gatsby-resp-image-background-image {
  //     // border: 2px dotted red;
  //     height: 100%;
  //   }
  //   .gatsby-resp-image-image {
  //     // height: 100%;
  //     object-fit: cover;
  //   }
  //   // .gatsby-image-outer-wrapper {
  //   //   border: 1px dashed red;
  //   // }
  //   &.gif {
  //     display: none;
  //   }
  // }
  .hero-text {
    // border: 1px solid blue;
    max-width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;
    p {
      margin-bottom: $base-spacing * 2;  
      font-size: 1.4rem;
    }
    ul {
      // border: 1px solid rebeccapurple;
      margin-top: $base-spacing * 4;
      font-size: 1.4rem;
    }
    h5 {
      color: $grey;
      font-size: 1.6rem;
      margin-bottom: $base-spacing / 2;
    }
    .gatsby-resp-image-wrapper {
      width: 100%;
    }
    // border: 1px solid green;
    &.hero-img {
      // border: 1px solid blue;
      display: none;
    }
    @include tablet {
      ul {
        // border: 1px solid greenyellow;
        width: 48%;
        float: left;
        margin-right: 2%;
      }
    }
    @include desktop {
      // border: 1px solid red;
      // display: block;
      &.hero-img {
        // border: 1px solid blue;
        display: flex;
      }
    } 
  }
  .hero-text-titles {
    max-width: 800px;
    margin: 1rem 2rem 1rem 1rem;
  }
  .hero-text-content {
    // max-width: 550px;
    margin: 0 auto 2rem auto;
    // padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
    // padding-left: 30px;
    // padding-right: 30px;
    overflow: hidden;
    
    p:last-child {
      // border: 1px dotted green;
      margin-top: 1rem;
    }
  }
  @include tablet {
    width: 100vw;
    // margin-top: $base-spacing * -15;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    // height: 90vh;
    min-height: 100vh;
    // max-height: 100vh;
    overflow: hidden;
    padding-left: $base-spacing * 10;
    padding-right: $base-spacing * 10;
    .hero-image {
      display: block;
      align-items: center;
      // background: url('../pages/project-one/hero.jpg');
      // background: url('https://www.koenigsegg.com/wp-content/uploads/2014/11/Koenigsegg_One1_Front_02.jpg');
      // background-size: cover;
      &.gif {
        display: flex;
      }
    }
    // .hero-text {
    //   max-width: 50vw;
    // }
  } 
}

// .Header {
//   display: none;
// }

.main-section {
  // max-width: 1200px;
  margin: 0 auto;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  position: relative;
  // float: right;
  /* display: block; */
  width: 100%;
  & > img {
    margin-bottom: $base-spacing * 2;
  }
  .gatsby-resp-image-wrapper {
    width: 100%;
    // border: 2px dashed red;
  }
  .show-small {
    display: block;
  }
  .show-large {
    display: none;
  }
  .hidden {
    display: none;
  }
  @include tablet {
    .show-small {
      display: none;
    }
    .show-large {
      display: block;
    }
    .gatsby-resp-image-wrapper {
      width: 100%;
      // border: 2px dashed green;
    }
  }
  @include desktop {
    // margin-top: -$base-spacing * 4;
    padding-left: $base-spacing * 10;
    padding-right: $base-spacing * 10;
    .hero-img {
      display: none;
    }
  }
}
