// colors
// $off-white: #F6F3F3;
$off-white: #FFFFFF;
$green: #05AA63;
$pink: #FB9597;
$black: #000000;
$grey: lighten($black, 50%);

// fonts
$title: 'Oswald', sans-serif;
$body: 'Enriqueta', sans-serif;

// spacing
$base-spacing: 0.5rem;
