@import '../../styles/vars';
@import '../../styles/mixins';

.Thanks {
  // position: relative;

  .BaseLayout {
    &:before, &:after {
      content: '';
      background: $pink;
      width: 60px;
      height: 10px;
      position: absolute;
    }
    &:before {
      right: -7%;
      top: 60%;
      @include mobile {
        top: 63%;
      }
      @include tablet {
        top: 60%;
      }
      @include desktop {
        top: 62%;
      }
    }
    &:after {
      left: -10%;
      bottom: -17%;
    }
  }
}
