@import '../../styles/vars';
@import '../../styles/mixins';

.Contact {
  // position: relative;
  margin-top: $base-spacing;
  width: 90%;

  &:before, &:after {
    content: '';
    background: $pink;
    width: 60px;
    height: 10px;
    position: absolute;
    display: none;
  }
  // &:before {
    // display: none;
    // right: -7%;
    // top: 4%;
    // @include mobile {
    //   top: 14%;
    // }
    // @include tablet {
    //   top: 16%;
    // }
    // @include desktop {
    //   top: -4%;
    // }
  // }
  // &:after {
    // display: none;
    // left: -10%;
    // bottom: 1%;
  // }

  h1 {
    margin-bottom: 0; 
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input, textarea {
    background: rgba($pink, 0.3);
    margin-bottom: $base-spacing * 2;
    padding: $base-spacing * 2;
    font-size: 1.2rem;
    color: $green;
    font-family: $body;
  }

  textarea {
    min-height: $base-spacing *25;
  }

  button {
    margin-bottom: $base-spacing * 2;
    padding: $base-spacing * 2;
    font-size: 1.2rem;
    color: $green;
    font-family: $body;
    float: right;
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;
    outline: none;
    
    &:before {
      content: '';
      transition: all 0.3s;
      display: block;
      position: absolute;
      width: 0;
      height: 100%;
      background: $pink;
      top: 0;
      left: 0;
      z-index: -1;
    }
    img {
      transition: all 0.3s;
    }
    &:hover {
      // background: $pink;
      transform: scale(1.1);
      &:before {
        width: 100%;
      }
      img {
        transform: translateX(100px);
        opacity: 0;
      }
    }
  }
}
