@import '../../styles/vars';
@import '../../styles/mixins';

.Logo {
  margin-top: $base-spacing * 3;
  margin-left: $base-spacing * 3;
  width: 220px;

  .largeLogo {
    display: none;
  }
  .smallLogo {
    display: block;
    max-height: 30px;    
  }
  @include tablet {
    margin-top: $base-spacing * 5;
    margin-left: $base-spacing * 3;
    margin-bottom: $base-spacing * 4;
    .largeLogo {
      display: block;
    }
    .smallLogo {
      display: none;    
    }
  }
  @include desktop {
    margin-left: $base-spacing * 12;
    // margin-bottom: $base-spacing * 4;
  }  
}
