@import '../styles/vars';
@import '../styles/mixins';

.Portfolio {
  margin-top: $base-spacing * 10;
  width: 100vw;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  padding-bottom: $base-spacing * 10;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @include desktop {
    margin-top: $base-spacing * 20;
    padding-left: $base-spacing * 10;
    padding-right: $base-spacing * 10;
  }

  & > div {
    flex: 1 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    position: relative;
    .overlay {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      background: $off-white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      transition: opacity 0.25s;
      opacity: 0;
    }
    &:hover {
      .overlay {
        opacity: 1;
      }
    }
    @include tablet {
      flex: 1 40%;
      &:last-child {
        max-width: 48%;
      }
    }
  }
}
