@import '../../styles/vars';
@import '../../styles/mixins';

.BaseLayout {
  // border: 1px solid blue;
  // font-family: 'Oswald', cursive;
  // font-family: 'Enriqueta', cursive;
  font-weight: 400;
  position: relative;
  // margin-top: -$base-spacing * 15;
  padding: $base-spacing * 7 $base-spacing $base-spacing $base-spacing;
  // @include desktop {
    // margin-top: -$base-spacing * 30;
  // }
  max-width: 800px;
  margin: 0 auto;
  @include tablet {
    padding: $base-spacing;  
  }
  & > h1 {
    text-align: center;
    // margin-bottom: $base-spacing * 10;
    text-transform: uppercase;
  }

  p {
    font-size: 1.4rem;
    line-height: 150%;
    text-align: center;
    @include tablet {
      font-size: 1.4rem;
    }
  }

  a {
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: all .2s ease-in-out;
    display: inline-block;
    &:before {
      content: '';
      height: 3px;
      width: 100%;
      background: $pink;
      position: absolute;
      bottom: 0.2rem;
      left: 0;
      z-index: -1;
    }
    &:hover {
      color: $pink;
      transform: scale(1.09);
      background: $off-white;
    }
  }
}
