@import '../styles/vars';

.Template {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  // & > div {
  //   padding: $base-spacing;
  // }
}

.Header {
  position: fixed !important;
  margin: 0 !important;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  left: 0;
  background: $off-white;
  z-index: 2;
}
