@import '../../styles/vars';
@import '../../styles/mixins';

.Error {
  position: relative;

  &:before, &:after {
    content: '';
    background: $pink;
    width: 60px;
    height: 10px;
    position: absolute;
  }
  &:before {
    right: -7%;
    top: 20%;
    @include mobile {
      top: 43%;
    }
    @include tablet {
      top: 36%;
    }
    @include desktop {
      top: -4%;
    }
  }
  &:after {
    left: -10%;
    bottom: -20%;
  }
}
